import /init.recovery.qcom_decrypt.rc

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    export ANDROID_ROOT /system_root

on init
    write /sys/devices/platform/soc/78b7000.i2c/i2c-3/3-0038/wakeup_mode 1
